In [9]:
import pandas as pd
import numpy as np

In [5]:
golf_df = pd.read_csv('playing_golf.csv', sep='\t')
golf_df

   index   Outlook  Temperature  Humidity   Wind Play
0      1     Sunny           85        85  False   No
1      2     Sunny           80        90   True   No
2      3  Overcast           83        78  False  Yes
3      4      Rain           70        96  False  Yes
4      5      Rain           68        80  False  Yes
5      6      Rain           65        70   True   No
6      7  Overcast           64        65   True  Yes
7      8     Sunny           72        95  False   No
8      9     Sunny           69        70  False  Yes
9     10      Rain           75        80  False  Yes

In [7]:
go_out_df = pd.read_csv('go-out.csv', sep=';')
go_out_df

  Weather      Car      Class
0   sunny  working     go-out
1   rainy   broken     go-out
2   sunny  working     go-out
3   sunny  working     go-out
4   sunny  working     go-out
5   rainy   broken  stay-home
6   rainy   broken  stay-home
7   sunny  working  stay-home
8   sunny   broken  stay-home
9   rainy   broken  stay-home

In [10]:
go_out_df['Weather'] = np.where(go_out_df.Weather=='sunny', 1, 0)
go_out_df['Car'] = np.where(go_out_df.Car=='working', 1, 0)
go_out_df['Class'] = np.where(go_out_df.Class=='go-out', 1, 0)
go_out_df

   Weather  Car  Class
0        1    1      1
1        0    0      1
2        1    1      1
3        1    1      1
4        1    1      1
5        0    0      0
6        0    0      0
7        1    1      0
8        1    0      0
9        0    0      0

## Calculate the Prior Probabilities

P(Class=1) = count(Class==1)/count(Class==1)+count(Class==0)

P(Class=0) = count(Class==0)/count(Class==0)+count(Class==1)

In [24]:
classes_count = go_out_df.Class.value_counts()
classes_count_dict = classes_count.to_dict()
print(classes_count_dict)
classes_probabilities_dict = (classes_count/len(go_out_df)).to_dict() 
print(classes_probabilities_dict)

{1: 5, 0: 5}
{1: 0.5, 0: 0.5}

## Calculate the Likelyhood

### Weather

* P( Weather = 1 | Class = 1) = count( Weather = 1 and Class = 1) / count(Class = 1)
* P( Weather = 0 | Class = 1) = count( Weather = 0 and Class = 1) / count(Class = 1)
* P( Weather = 1 | Class = 0) = count( Weather = 1 and Class = 0) / count(Class = 0)
* P( Weather = 0 | Class = 0) = count( Weather = 0 and Class = 0) / count(Class = 0)

### Car

* P( Car = 1 | Class = 1) = count( Car = 1 and Class = 1) / count(Class = 1)
* P( Car = 0 | Class = 1) = count( Car = 0 and Class = 1) / count(Class = 1)
* P( Car = 1 | Class = 0) = count( Car = 1 and Class = 0) / count(Class = 0)
* P( Car = 0 | Class = 0) = count( Car = 0 and Class = 0) / count(Class = 0)

In [70]:
X = go_out_df[['Weather','Car']]
y = go_out_df.Class

prior_dict = {}
likelyhood_dict = {}
for c in y.unique():
    prior_dict.update({c:{"prior":np.mean(y==c), "count":np.count_nonzero(y==c)}})

    for col_name, serie in X.iteritems():
        if col_name not in likelyhood_dict.keys():
            likelyhood_dict.update({col_name:{c:{"likelyhood":np.mean(serie==c), "count":np.count_nonzero(serie==c)}}})
        else:
            likelyhood_dict[col_name].update({c:{"likelyhood":np.mean(serie==c), "count":np.count_nonzero(serie==c)}})


print(prior_dict)
print(likelyhood_dict)

{1: {'prior': 0.5, 'count': 5}, 0: {'prior': 0.5, 'count': 5}}
{'Weather': {1: {'likelyhood': 0.6, 'count': 6}, 0: {'likelyhood': 0.4, 'count': 4}}, 'Car': {1: {'likelyhood': 0.5, 'count': 5}, 0: {'likelyhood': 0.5, 'count': 5}}}

In [63]:
np.count_nonzero(serie==c)
#np.count_nonzero(y==c)

5

In [68]:
if 'Weather' not in likelyhood_dict.keys():
    print('sim')

In [48]:
X.columns

Index(['Weather', 'Car'], dtype='object')