In [7]:
import pandas as pd
import numpy as np

# Understanding Decision Trees

In [8]:
playing_golf = pd.read_csv("../datasets/playing_golf.csv", sep='\t')

playing_golf['Play'] = np.where(playing_golf.Play=='Yes', 1, 0).astype(str)
playing_golf['Temperature'] = pd.cut(playing_golf.Temperature, [0,65,75,200], labels=['low', 'medium', 'high'])
playing_golf['Humidity'] = pd.cut(playing_golf.Humidity, [0,70,80,200], labels=['low', 'medium', 'high'])
playing_golf['Wind'] = np.where(playing_golf.Wind=='True', 1, 0).astype(str)
playing_golf

   index   Outlook Temperature Humidity Wind Play
0      1     Sunny        high     high    0    0
1      2     Sunny        high     high    0    0
2      3  Overcast        high   medium    0    1
3      4      Rain      medium     high    0    1
4      5      Rain      medium   medium    0    1
5      6      Rain         low      low    0    0
6      7  Overcast         low      low    0    1
7      8     Sunny      medium     high    0    0
8      9     Sunny      medium      low    0    1
9     10      Rain      medium   medium    0    1

## CART - Classification and regression trees

* Top Down
* Gini

![Gini impurity](images/gini.png)

* Categorical and Numerical inputs


### Steps
1. Calculate Gini Index for each attribute
2. Calculated the weighted sum of Gini Indexes for that feature
3. Pick the attribute with lowest gini index value
4. Repeat 1, 2, 3 until a generalized tree has been created

In [61]:
X = playing_golf[['Outlook','Temperature','Humidity','Wind']]
y = playing_golf.Play

def gini_calculation():
    return True

for feature in X.columns:
    for c_feature in X[feature].unique():
        len_feature_c = len(X.iloc[np.where(X[feature]==c_feature)])
        gini = 1
        for c in y.unique():
            feature_series = X.iloc[np.where(y == c)]
            feature_series = feature_series.iloc[np.where(feature_series==c_feature)]

            print(feature_series)
            print(len(feature_series), len_feature_c)
            
            gini -= (len(feature_series)/len_feature_c)**2
        print("Gini({}={}) = {}".format(feature,c_feature, gini))

Outlook Outlook Outlook
0   Sunny   Sunny   Sunny
1   Sunny   Sunny   Sunny
7   Sunny   Sunny   Sunny
3 4
  Outlook
8   Sunny
1 4
Gini(Outlook=Sunny) = 0.375
Empty DataFrame
Columns: []
Index: []
0 2
    Outlook   Outlook
2  Overcast  Overcast
6  Overcast  Overcast
2 2
Gini(Outlook=Overcast) = 0.0
  Outlook
5    Rain
1 4
  Outlook Outlook Outlook
3    Rain    Rain    Rain
4    Rain    Rain    Rain
9    Rain    Rain    Rain
3 4
Gini(Outlook=Rain) = 0.375
  Temperature Humidity Temperature Humidity Humidity
0        high     high        high     high     high
0        high     high        high     high     high
1        high     high        high     high     high
1        high     high        high     high     high
7      medium     high      medium     high     high
5 3
  Temperature Humidity
2        high   medium
3      medium     high
2 3
Gini(Temperature=high) = -2.2222222222222223
  Temperature
7      medium
1 5
  Humidity Temperature Temperature Humidity Temperature Temperature Humidity
2   medium        high        high   medium        high        high   medium
3     high      medium      medium     high      medium      medium     high
4   medium      medium      medium   medium      medium      medium   medium
4   medium      medium      medium   medium      medium      medium   medium
8      low      medium      medium      low      medium      medium      low
9   medium      medium      medium   medium      medium      medium   medium
9   medium      medium      medium   medium      medium      medium   medium
7 5
Gini(Temperature=medium) = -0.9999999999999998
  Temperature Humidity
5         low      low
5         low      low
2 2
  Temperature Humidity Humidity
6         low      low      low
6         low      low      low
8      medium      low      low
3 2
Gini(Temperature=low) = -2.25
  Temperature Humidity Temperature Humidity Humidity
0        high     high        high     high     high
0        high     high        high     high     high
1        high     high        high     high     high
1        high     high        high     high     high
7      medium     high      medium     high     high
5 4
  Temperature Humidity
2        high   medium
3      medium     high
2 4
Gini(Humidity=high) = -0.8125
  Temperature
7      medium
1 3
  Humidity Temperature Temperature Humidity Temperature Temperature Humidity
2   medium        high        high   medium        high        high   medium
3     high      medium      medium     high      medium      medium     high
4   medium      medium      medium   medium      medium      medium   medium
4   medium      medium      medium   medium      medium      medium   medium
8      low      medium      medium      low      medium      medium      low
9   medium      medium      medium   medium      medium      medium   medium
9   medium      medium      medium   medium      medium      medium   medium
7 3
Gini(Humidity=medium) = -4.555555555555557
  Temperature Humidity
5         low      low
5         low      low
2 3
  Temperature Humidity Humidity
6         low      low      low
6         low      low      low
8      medium      low      low
3 3
Gini(Humidity=low) = -0.4444444444444444
  Wind Wind Wind Wind
0    0    0    0    0
1    0    0    0    0
5    0    0    0    0
7    0    0    0    0
4 10
  Wind Wind Wind Wind Wind Wind
2    0    0    0    0    0    0
3    0    0    0    0    0    0
4    0    0    0    0    0    0
6    0    0    0    0    0    0
8    0    0    0    0    0    0
9    0    0    0    0    0    0
6 10
Gini(Wind=0) = 0.48

In [29]:
np.where(X[feature] == c_feature)

(array([0, 1, 7, 8]),)

In [53]:
X.iloc[np.where(X[feature]==c_feature)]

  Outlook
0   Sunny
1   Sunny
7   Sunny
8   Sunny

In [22]:
playing_golf.groupby(['Outlook','Play']).agg({'index':'count'})

               index
Outlook  Play
Overcast 1         2
Rain     0         1
         1         3
Sunny    0         3
         1         1